@media (min-width: 1024px) {
  .fa-bars-icon {
    display: none;
  }
  .top-navi-button:hover {
    color: darkblue;
    border-color: darkblue;
    background-color: chartreuse;
  }
  button:hover {
    color: darkblue;
    border-color: darkblue;
    background-color: chartreuse;
  }
  a:hover {
    color: dodgerblue;
  }
  .big:hover {
    box-shadow: 0 0 10px 5px rgb(204, 204, 204);
  }
  body {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .privacy2 {
    display: none;
  }
}

@media (min-width: 359px) and (max-width: 1023px) {
  .top-navi,
  .top-navi-button,
  header ul {
    display: none;
  }
  header {
    width: 100%;
  }
  h1 {
    width: 100%;
  }
  .privacy2 {
    display: none;
  }
  .big {
    box-shadow: 0 0 10px 5px rgb(204, 204, 204);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bg {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    height: 600px;
  }
  .left {
    flex: 50%;
    width: 90%;
  }

  .right {
    flex: 50%;
    width: 90%;
  }
  h1 {
    font-size: 50px;
  }
  .left-info {
    text-align: center;
  }
  .box1 {
    position: relative;
    left: 40px;
    top: 200px;
  }
  .box2 {
    position: relative;
    left: 360px;
    top: 90px;
  }
  .box3 {
    position: relative;
    left: 700px;
    top: -10px;
  }
  .box4 {
    position: relative;
    left: 60px;
    top: 50px;
  }
  .box5 {
    position: relative;
    left: 500px;
    bottom: 50px;
  }
  .box6 {
    position: relative;
    left: 230px;
    top: -30px;
  }
  .box7 {
    position: relative;
    left: 630px;
    top: -80px;
  }
  .section2 {
    margin-top: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
  }
  .section2 ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  .section2 li {
    font-size: 25px;
  }
  .list-circle-container {
    width: 90%;
    height: 100px;
    margin-bottom: 50px;
  }
  .list-circle {
    margin-left: 2%;
    margin-right: 1%;
  }
  .border {
    width: 120px;
    margin-top: 27px;
    margin-left: 10px;
  }
  .section3-info {
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
  }

  .cards {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .big {
    width: 90%;
    height: 200px;
    flex: 50%;
    text-align: center;
  }
  .grid {
    flex: 50%;
    width: 90%;
  }
  .section4 {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .form-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    height: 100%;
  }
  .hire-us {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 90%;
    gap: 10px;
  }
  .info {
    flex: 40%;
  }
  .title-content {
    flex: 40%;
    margin-top: 50px;
  }
  .title {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    height: 60px;
  }
  .get-started {
    width: 90%;
  }
  .get-started a {
    margin-left: 150px;
  }
  .privacy2 {
    display: none;
  }
  footer {
    width: 90%;
  }
  .footer-content {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  .contact-card {
    flex: 50%;
    width: 50%;
  }
  .head-wrapper img {
    position: relative;
    left: 20px;
    width: 80%;
    height: 80%;
  }
  .footer-links {
    flex: 50%;
    width: 50%;
  }
  .content-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  .bg {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 80%;
    height: 600px;
  }
  .left {
    flex: 50%;
    width: 80%;
  }
  .left,
  h1,
  p {
    text-align: center;
  }
  .right {
    flex: 50%;
    width: 80%;
  }
  .box1 {
    position: relative;
    left: 40px;
    top: 60px;
  }
  .box2 {
    position: relative;
    left: 200px;
    top: -25px;
  }
  .box3 {
    position: relative;
    left: 350px;
    top: -200px;
  }
  .box4 {
    position: relative;
    left: 100px;
    top: -170px;
  }
  .box5 {
    position: relative;
    left: 330px;
    bottom: 300px;
  }
  .box6 {
    position: relative;
    left: 90px;
    top: -260px;
  }
  .box7 {
    position: relative;
    left: 380px;
    top: -380px;
  }
  #size1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgb(204, 204, 204);
  }
  #size2 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgb(204, 204, 204);
  }
  .section2 {
    margin-top: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
  }
  .section2-info {
    width: 80%;
    gap: 20px;
    text-align: center;
    margin-bottom: 80px;
  }
  .list-content {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    width: 80%;
    height: 100%;
  }
  .section2 ul {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    text-align: left;
    gap: 30px;
    flex: 80%;
  }
  .list-circle-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex: 20%;
  }
  .list-circle {
    display: flex;
    flex-flow: column;
    margin-left: 2%;
    margin-right: 1%;
  }
  .border {
    display: none;
  }
  .section3-info {
    width: 50%;
    margin-left: 20px;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
  }
  .grid {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: left;
    width: 80%;
  }
  .big {
    width: 100%;
    margin-left:100px;
  }
  .big-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  .purchase {
    margin-left: 130px;
  }
  .big h2 {
    text-align: center;
  }
  .small-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
  }
  .small-info {
    width: 350px;
  }
  .section4 {
    width: 80%;
  }
  .form-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 80%;
    height: 110%;
  }
  .hire-us {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 110%;
    gap: 20px;
  }
  .top-info h3 {
    text-align: center;
  }
  .info {
    flex: 40%;
  }
  .title-content {
    flex: 40%;
    margin-top: 50px;
  }
  .title {
    display: flex;
    flex-flow: column;
    width: 110%;
    height: 60px;
  }
  .get-started {
    width: 110%;
    display: flex;
    flex-flow: column;
  }
  input {
    width: 85%;
  }
  select {
    width: 85%;
  }
  .final-sec {
    width: 80%;
  }
  .get-started a {
    margin-left: 70px;
  }
  .privacy2 {
    display: none;
  }
  footer {
    width: 80%;
  }
  .footer-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  .contact-card {
    width: 50%;
  }
  .head-wrapper img {
    position: relative;
    left: 20px;
    width: 80%;
    height: 80%;
  }
  .footer-links {
    width: 50%;
  }
  .content-wrapper {
    width: 100%;
  }
}
